/* About */

.section--about--heading {
  text-align: center;
  margin: .5em 0;
}

.section--about--hero {
  max-width: 100%;
  max-height: 40vh;
}

.section--about--gallery {
  width: 90%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-gap: 10px;
}
