/* Footer */

footer {
  width: 100%;
  height: fit-content;  
  
  display: flex;

  color: white;
  text-align: center;

  /* variant where the image opacity is set via CSS */
  background: #00B0B2;  
  position: relative;

  /* variant where the image itself is created with opacity and just put over the background color */
  /* background: url("../../assets/footer.png") center top no-repeat, #00B0B2; */
  /* background-size: cover; */
}

/* image opacity is set via css */
.footer--image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  
  /* slowly fade in the background image from top to bottom */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));  
}

footer > div {
  z-index: 2;
  width: 50%;
}

.footer--address {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 1em;  
}

/* only the address link should have no underline */
.footer--address--link {
  display: inline-block;
  text-decoration: none;
}

/* both the address link as well as the mail link should be white */
footer > div > a,
footer > div > a:visited {
  color: white;
}

@media (max-width: 420px) {
  footer {
    flex-direction: column;
    gap: 1em;
  }

  footer > div {
    width: 90%;
  }
}