/* Footer */

footer {
  width: 100%;
  height: fit-content;  
  
  display: flex;

  color: white;
  background: url("../../assets/footer.png") center center no-repeat, #00B0B2;
  background-size: cover;
  text-align: center;
}

footer > div {
  width: 50%;
}

footer > div > a,
footer > div > p > a:visited {
  color: white;
}

@media (max-width: 420px) {
  footer {
    flex-direction: column;
    gap: 1em;
  }

  footer > div {
    width: 90%;
  }
}