/* Footer */

footer {
  width: 100%;
  height: fit-content;
  padding: 1em;

  display: flex;
  
  color: white;
  background-color: #00B0B2;
}

footer > div {
  width: 50%;
}

footer > div > h2 {  
  font-family: "Supersonic", sans-serif;
  text-align: center;
  text-shadow:
		-1px -1px 0 #1c1c1c,
		1px -1px 0 #1c1c1c,
		-1px 1px 0 #1c1c1c,
		1px 1px 0 #1c1c1c;
}

footer > div > p {
  text-align: center;
}

footer > div > a {
  color: white;
}

footer > div > p > a:visited {
  color: white;
}

.footer--contact {
  display: flex;
  flex-direction:  column;
  align-items: center;
}

@media (max-width: 420px) {
  footer {
    flex-direction: column;
    gap: 1em;
  }

  footer > div {
    width: 90%;
  }
}