/* 
    Color scheme 
        teal #00B0B2 
        dark blue #2A4359 
        black #1A2731
        light brown #CFB3A5
        teal gray #C4D5CC 
*/

/* General setup */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typology */
body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Supersonic";
  src: local('Supersonic'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff') format('woff'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff2') format('woff2');
}

/* Layout */

.container {
  min-height: 100vh;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General styling */

.supersonic {
  font-family: 'Supersonic', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.outline {  
  text-shadow:
		-1px -1px 0 #1c1c1c,
		1px -1px 0 #1c1c1c,
		-1px 1px 0 #1c1c1c,
		1px 1px 0 #1c1c1c;
}

.shadow {  
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.tile {
  padding: 1em;

  background-color: #f8f8f8;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.section {
  padding: 1em;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}