/* 
    Color scheme 
        teal #00B0B2 
        dark blue #2A4359 
        black #1A2731
        light brown #CFB3A5
        teal gray #C4D5CC 
*/

/* General setup */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typology */
body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Supersonic";
  src: local('Supersonic'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff') format('woff'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff2') format('woff2');
}

/* Layout */

.container {
  min-height: 100vh;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}