/* 
    Color scheme 
        teal #00B0B2 
        dark blue #2A4359 
        black #1A2731
        light brown #CFB3A5
        teal gray #C4D5CC 
*/

/* General setup */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typology */
#root {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Supersonic";
  src: local('Supersonic'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff') format('woff'),
       url('./assets/fonts/supersonic_rocketship-webfont.woff2') format('woff2');
}

.supersonic {
  font-family: 'Supersonic', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.justified {  
  text-align: justify;
}

/* Layout */

#root {
  min-height: 100vh;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reusable styling */

.title {
  font-size: 2rem;
  text-align: center;
}

.outline {  
  text-shadow:  -1px -1px 0 #1c1c1c,
                1px -1px 0 #1c1c1c,
                -1px 1px 0 #1c1c1c,
                1px 1px 0 #1c1c1c;
}

.shadow {  
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 6px 6px rgba(0,0,0,0.12),
              0 14px 10px rgba(0,0,0,0.12);
}

.tile {
  padding: 1em;

  background-color: #fdfdfd;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* general styling for the content area of each page */
.content {  
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* limit content area to max. 1200px width while still stretching the whole viewport */
.maxWidth1200 {
  padding: 1em clamp(1em, calc(( 100vw - 1200px ) / 2) + 1em, calc(( 100vw - 1200px ) / 2) + 1em);
}